
<br>
  <br>
  <table border="5" >

    <thead>
      <tr>
     <th>id Number</th>
     <th>   Name  </th>
     <th>   Phone Number  </th>
     <th>   Age  </th>
     <th> Birth date </th>
     <th>   Email  </th>

    </tr>
    </thead>

    <tbody>
  <tr *ngFor="let user of users ; let i = index">
    <td>
      {{i}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td>
      {{user.numb}}
    </td>
    <td>
      {{user.bairthDate| customDate}}
    </td>
    <td>{{user.bairthDate | date}}</td>
    <td>
      {{user.email}}
    </td>

    <td><button (click)="deleteUser(user)">Delete</button></td>
    <td><button (click)="EditUser(user)">Edit</button></td>
  </tr>
    </tbody>
  </table>
