
<br>
<div class="wrapper">
<a>Users</a>
  <div></div>
  <div><button class="button1" > + </button></div>

</div>
  <br>
  <table id="customers" class="box" >

    <thead>
      <tr>
     <th> # </th>
     <th>   Name  </th>
        <th>  Age  </th>
<!--     <th>   Phone Number  </th>-->
<!--     <th>   Age  </th>-->
     <th> Dob </th>
<!--     <th>   Email  </th>-->


    </tr>
    </thead>

    <tbody >
  <tr *ngFor="let user of UserList ">
    <td>
      {{user.id}}
    </td>
    <td>
      {{user.first_Name}}
    </td>
    <td>
      {{user.bairthDate| customDate}}
    </td>
    <td>{{user.bairthDate | date}}
    </td>
    <td><button class="button" (click)="EditUser(user)">Edit</button>
      <button class="delete" (click)="deleteUser(user)">X</button>
    </td>

  </tr>
    </tbody>
  </table>
<br><div>{{UserList.length}} items to show</div>
