<div class="center">

    <form #form =ngForm (ngSubmit) ="addUser(form)">
      <h2 class="color">User Login</h2>
  
  <br>
    <label for="name">Name </label><br>
    <input  [(ngModel)]="newUser.name" name="name" required type="text">
    <span *ngIf="form.form.controls['name']?.touched && ! form.form.controls['name']?.valid" class="error"> Required </span><br>
  <br>
  
    <label for="numb">Phone Number</label><br>
    <input [(ngModel)]="newUser.numb" name="numb" type="number"><br>
  <br>
    <label for="age">Age</label><br>
    <input [(ngModel)]="newUser.age" name="age" type="number" ><br>
  <br>
    <label for="email">Email</label><br>
    <input [(ngModel)]="newUser.email" name="email" email required type="email">
    <span *ngIf="form.form.controls['email']?.touched && ! form.form.controls['email']?.valid" class="error">{{form.form.controls['email'].errors}} Required </span> <br>
  <br>
    <label for="pass">password</label><br>
    <input [(ngModel)]="newUser.pass" name="pass" required type="password">
    <span *ngIf="form.form.controls['pass']?.touched && ! form.form.controls['pass']?.valid" class="error"> Required </span> <br><br>
  <br>
    <button type="submit"> Add User</button>
  </form>
  </div>
  
  
  
  <br><br>
  <h2 class="center color " >View Users Data</h2>
  <br>
  <div class="center">
  <table border="5" >
    
    <thead>
      <tr>
     <th>id Number</th>
     <th>   Name  </th> 
     <th>   Phone Number  </th> 
     <th>   Age  </th> 
     <th>   Email  </th> 
    
    </tr>
    </thead>
  
    <tbody>
  <tr *ngFor="let user of UserList ; let i = index">
    <td>
      {{i}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td>
      {{user.numb}}
    </td>
    <td>
      {{user.age}}
    </td>
    <td>
      {{user.email}}
    </td>
   
    <td><button (click)="deleteUser(user)">Delete</button></td>
  </tr>
    </tbody>
  </table>
  
  </div>