
.center{
    display: flex;
    justify-content: center;
}
.color{
    color: #008000;
    font-style: italic;
    font-family: Courier New, monospace;
}
.text{
  padding-top: 15px;
  padding-left: 15px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    /*max-width: device-width;*/
    height: 81vh;

  }

  .flex-container > div {
    width: 250px;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 0.5px solid black;*/
    justify-content: center;
  }

  .main{
      background-color: white;
      font-size: 19px;
      flex: 2 2;
      /*text-align: center;*/

  }

  .left{
      background-color:#AED6F1;
      font-size: 19px;
    text-decoration: none;

  }

  .head{
    flex-grow: 1;
    height: 50px;
    font-size: 3ch;
    font-weight: bold;
    color: white;
    font-family: "Arial Black";
    background-color: #778899 ;
  }

  body{
      margin: 0;
      padding: 0;
  }

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  padding: 16px;
  border-bottom: 1px solid #CACACA;
  text-decoration: none;


}

.sidebar a:hover:not(.active) {
  background-color: #DEDEDE;
}


.fe {
  display: flex;
  flex-direction: row;
  /*max-width: device-width;*/
  height: 81vh;

}
.box{
  width: border-box;
  height: fit-content;
  padding: 20px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button {
  background-color: #778899;
  border: none;
  color: white;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius:5px;
  cursor: pointer;

}
