/* You can add global styles to this file, and also import other style files */
.button {
  background-color: #778899;
  border: none;
  color: white;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius:5px;
  cursor: pointer;
}
.box{
  width: border-box;
  height: fit-content;
  padding: 20px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

